In [42]:
import numpy as np
import pandas as pd

array_ = np.concatenate((np.array([1,2,3]), np.array([4,5,6]), np.array([7,8,9]))).astype(object)
print("* array_ :", array_, "\n")

df = pd.DataFrame({"col1" : [1,2,3,4], "col2" : [5,6,7,8], "col3" : None})
print("* df :")
display(df)

# 1행 2열에 'array_'삽입
df.iat[0, 2] = np.concatenate((np.array([1,2,3]), np.array([4,5,6]), np.array([7,8,9]))).astype(object)
print("* df :")
display(df)

* array_ : [1 2 3 4 5 6 7 8 9]

* df :

   col1  col2  col3
0     1     5  None
1     2     6  None
2     3     7  None
3     4     8  None

* df :

   col1  col2                         col3
0     1     5  [1, 2, 3, 4, 5, 6, 7, 8, 9]
1     2     6                         None
2     3     7                         None
3     4     8                         None